html, body{	width: 100%;	height: 100%;	margin: 0;  padding: 0;}
header{				width: 100%; 				}
.imagenes{		width: 100%; 				}
.noPadding {	padding: 0 !important;			}
.noPaddingR{	padding-right: 0 !important;	}
.noPaddingL{	padding-left:  0 !important;	}
.verde{			background-color: #A1C108;	}
.celeste{		background-color: #69B7E3;	}
.azul{			background-color: #005C9D;	}
.noBorder{	border: none; }

nav{
	width:  100%;
	background-image: url(..//img/verano_digital/nav_azul.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #005C9D;
}

main{
	width:  100%;
	min-height: 80%;
	background-image: url(..//img/verano_digital/fondo-general.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #EEEEEE;
}

#Contacto{
	
}
	#Contacto > img{
		position: absolute;
		width: 92%;
		height: 103%;
	}
	#Contacto > div{
		margin-top: 4%;
		margin-left: 2%;
	}
		#Contacto > div > p{
			padding: 0;
			margin: 0;
			color: white;
		}

		#Contacto > div > iframe{
			padding: 0;
			margin: 0;
			width: 68%;
			height: 300px;
			padding-bottom: 2%;
			background-color: #DFDFDF;
		}


#Registro{

}
	#Registro > img{
		position: absolute;
		width: 92%;
		height: 100%;
	}
	#Registro > div{
		margin-top: 6%;
		margin-left: 2%;
		margin-bottom: 8%;
		padding: 0 6% 0 3%;
		/* background-color: red; */
	}
		#labelFecha{
			background-color: #EEEEEE;
			padding: 4px 10px !important;
			margin-top: 2px;
		}


	#modalGenerico > div > div{
		/*background-color: #C7E3D1;*/
		color: white;
		padding: 0 10px;
	}
		.ImagenModal > i{
			font-size: 100px;
			padding: 0 0 0 10px;
		}

		.TextoModal > p{
			padding: 0 0 0 10px;
			margin: 0;
			color: white;
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			text-align: center;
		}
			.TextoModal > #TextoModalTitulo{
				font-size: 22px;
			}
			.TextoModal > #TextoModalContenido{
				font-size: 25px;
				font-weight: bold;
			}



#QueEs{
	margin-top: 5%;
}
	#QueEs > img{	width: 93%;	height: 100%;	}

#Inicio{
	/* background-color: green; */
}
	#Inicio > div > ul{
		margin: 0;
		padding: 0;
		margin-top: 37%;
	}
		#Inicio > div > ul > li{
			padding-right: 8%;
			text-decoration: none;
			list-style:none;
		}
		#Inicio > div > #logoInicio{
			/* background-color: green; */
		}
		#Inicio > div > #imgInicio{
			margin-bottom: 2%;
			height: 100%;	
		}

	.modalContenido{
	}


#Galeria{

}
	#Galeria > div{
		margin: 3% 8% 1% 4%;
		padding: 20px;
	}
	#Galeria > div > div > div{
		width: 100%;
		height: 480px;
	}
		#Galeria > div > div > div > img{
			width: 100%;
			height: 100%;
		}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}



.NavHead{
	color: white;
	padding-top: 2px;
	/*
	background-image: url(http://becas.tamaulipas.gob.mx/assets/img/h1_12_28.jpg);
						url(../img/h1_12_28.jpg).infoestilo_plantilla.css:38
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	display: block;
	
	
	height: 28px;
	line-height: 20px;
	text-size-adjust: 100%;
	width: 1583px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	*/

}
	.NavHead > a{
		color: white;
		font-size: 10px;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		text-decoration: none;
	}