@charset "UTF-8";
/* CSS Document */
.wpl-becas-buscador{ }
.wpl-becas-buscador button{background: none repeat scroll 0 0 #005cb9; border: 0 none; color: #FFFFFF; font-family: Arial,Helvetica,sans-serif; font-size: 14px; font-weight: bold; padding: 7px 8px;}
.wpl-becas-buscador button:hover{ background-color:#40b4e5; cursor:pointer;}
.wpl-becas-buscador input{ background: #F1F1F1; border: 1px solid #CCCCCC; padding:7px;}
.wpl-becas-buscador select{ background: #F1F1F1; border: 1px solid #CCCCCC; padding:4px;}


.wpl-becas-preload{
	text-align: center;
}
.wpl-becas-preload .icon-stack-base{
	color: #005cb9;
}



.wpl-becas-msg{
	text-align: center;
	color: #005cb9;
	font-weight: bold;
	font-size: 15px;	
}



.wpl-becas-items-resultados{
	border: 0 !important;
	margin-bottom: 30px;
}
.wpl-becas-items-resultados caption{ 
	text-align:center; 
	font-size:14px; 
	font-weight:bold; 
	color:#1f5fac; 
	text-transform: none;
	width: 100%;
}

.wpl-becas-items-resultados thead,
.wpl-becas-items-resultados tbody{
}


.wpl-becas-items-titulo1 th{
	border:none !important; 
	padding:0;
}
.wpl-becas-items-titulo1 .wpl-becas-items-titulo{ 
	background-color:#005cb9; 
	color:#FFFFFF; 
	text-align:center; 
	font-size:12px; 
	padding:5px;
} 

.wpl-becas-items-titulo2 th{
	border:none !important; 
	padding:5px; 
	background-color:#005cb9; 
	color:#FFFFFF; 
	text-align:center; 
	font-size:12px;
}

.wpl-becas-item-resumen td{ 
	font-size:11px;
	text-align:center;
	padding:5px;
}