.subcontenido {
		width: 100%;
		min-height: 450;
		background: transparent;
		margin-bottom: 150px;
	}
	.subcontenido-titulo {
		width: 100%;
		height: 30px;
		
	}
	.subcontenido-contenido {
		width: 100%;
		display: none;
		background: transparent;
	}
	.rotated {
    -webkit-transform: rotate(180deg);  /* Chrome, Safari 3.1+ */
    -moz-transform: rotate(180deg);  /* Firefox 3.5-15 */
    -ms-transform: rotate(180deg);  /* IE 9 */
    -o-transform: rotate(180deg);  /* Opera 10.50-12.00 */
    transform: rotate(180deg);  /* Firefox 16+, IE 10+, Opera 12.10+ */
}
