@charset "UTF-8";
/* CSS Document */
#wpl-directorio{
	float: left;
	width: 100%;
	margin-bottom: 20px;
}




#wpl-directorio .directorio-menu{
	float: left;
	width: 100%;
	margin:0;
	padding: 0;
}
#wpl-directorio .directorio-menu li{
	display: block;
	float: left;
	list-style: none;
	margin-left: 28px;
}
#wpl-directorio .directorio-menu li:first-child{
	margin-left: 0;
}
#wpl-directorio .directorio-menu button{
	margin-top: 27px;
}


.wpl-directorio-item-info h3,
.wpl-directorio-item-info h4{
	text-align: center;
	color: #005cb9;
}
.wpl-directorio-item-info p{
	padding: 5px 0;
	border-bottom: 1px solid #EEEEEE;
}