@font-face {
  font-family: "Novecentowide";
  src: url(../fuentes/Novecento_wide/Novecentowide-Bold.otf) format("truetype");
}
@font-face {
  font-family: "Novecentowidelight";
  src: url(../fuentes/Novecento_wide/Novecentowide-Light.otf) format("truetype");
}
.divsnone{
    display: none;
  }

body, a{
  color: #000;
}
header {
  width: 100%;
  height: auto;
  display: inline-block;
  margin-bottom: -5px;
  padding: 0;
  border: 0;
}
.nav_style{
background: -webkit-gradient(linear,left top, left bottom, color-stop(0.05,#40b7ec),color-stop(1,#004082));
background: -webkit-linear-gradient(top #40b7ec, #004082);
   background: -moz-linear-gradient(top, #40b7ec, #004082);
   font-size: 15px;
   font-weight: bold;
}
.style_jumbotron{
background: -webkit-gradient(linear,left top, left bottom, color-stop(0.05,#f3f3f3),color-stop(1,#c1c1c1));
background: -webkit-linear-gradient(top #f3f3f3, #c1c1c1);
   background: -moz-linear-gradient(top, #f3f3f3, #c1c1c1);
}
.info {
  width: 100%;
  height: 28px;
  background-image: url('../img/h1_12_28.jpg');
}
.info > p, .info > p > a {
  font-size: 10px;
  margin-bottom: 5px!important;
  color: #FFF!important;

}
.fa-sign-out {
  font-size: 12px!important;
}
.banner-fondo {
  width: 100%;
  height: 90px;
  background-image: url('../img/h2_21_90.jpg');
}
.banner {
  width: 100%;
  height: 90px;
  background: url('../img/header_960_90.jpg')top left no-repeat;
}
.boton-menu {
  width: 150px;
}
/*.error{       Se comenta porque crea conflicto en los input, los hace mas largos.
    padding: 1px;
    position: absolute;
  }*/
  /*texto alerta eliminar*/
.text-center{
  text-align: center;
  font-size: 17px;
}
.text-confirm{
  font-weight: bold;
}
.sweet-alert h2 {
  background-color:#5cb85c;
  font-size: 25px;
}
.botonrefresh{
  background-color: black;
  border-bottom: black;
  color: white;
}
.botonrefresh:hover{
  background-color: black;
  border-bottom: black;
  color: white;
}
footer {
  width: 100%;
  height: 143px;
  bottom: 0px;
  text-align: left;
  font-size: 10px;
  color: #000;
  background-image: url('../img/bgfooter.png');
}
.alert-danger{
      margin-left: 700px;
}
.lista-registros{
  width: 90px;
}
.contenedor-principal {
  width: 100%;
  min-height: 400px;
}
.footer-info{
  padding-right: 5px;
  font-family: "Novecentowide";
}
.footer-info > h4 {
  font-size: 15px;
  font-weight: bold;
  font-family: "Novecentowidelight";
}
.footer-img {
  height: 143px;
  background-image: url('../img/footer.png');
  font-family: "Novecentowide";
}

/*bootstrapp modificado*/

.jumbotron > h4 {
  text-align: center
}

.link-verde:hover {
  color: #006036;
}

.jumbotron-bajo {

  padding-top: 15px !important;
  padding-bottom: 15px!important;
  background: -webkit-gradient(linear,left top, left bottom, color-stop(0.05,#f3f3f3),color-stop(1,#c1c1c1));
background: -webkit-linear-gradient(top #f3f3f3, #c1c1c1);
   background: -moz-linear-gradient(top, #f3f3f3, #c1c1c1);
}

.border-right {
  border-right: 2px #000 solid;
}

.alert-small {
  padding: 5px;
}

.scroll {
  height: 450px;
  overflow-x:hidden;
  overflow-y:auto;
}

.sweet-alert h2 {
  background-color:#94c120;
  font-size: 25px;
}
.sweet-alert p{
  font-size: 16px;
}
.text-center{
  font-weight: bold;
}


/*media screen*/
@media screen and (max-width: 1200px){
  .footer-img{

    display: none;
  }


}