@font-face {
  font-family: "Novecentowide";
  src: url(../fuentes/Novecento_wide/Novecentowide-Bold.otf) format("truetype");
}
@font-face {
  font-family: "Novecentowidelight";
  src: url(../fuentes/Novecento_wide/Novecentowide-Light.otf) format("truetype");
}
.divsnone{
    display: none;
  }

.contenedor-principal {
  width: 100%;
  min-height: 400px;
}

.jumbotron-bajo {

  background: -webkit-linear-gradient(#c1c1c1);
  background: -o-linear-gradient(#c1c1c1);
  background: linear-gradient(#c1c1c1);
  padding-top: 15px!important;
  padding-bottom: 15px!important;
}

