@charset "UTF-8";
/* CSS Document */
.wpl-forte-buscador{ margin-top:30px;}
.wpl-forte-buscador button{background: none repeat scroll 0 0 #005cb9; border: 0 none; color: #FFFFFF; font-family: Arial,Helvetica,sans-serif; font-size: 14px; font-weight: bold; padding: 7px 8px;}
.wpl-forte-buscador button:hover{ background-color:#40b4e5; cursor:pointer;}
.wpl-forte-buscador input{ background: #F1F1F1; border: 1px solid #CCCCCC; padding:7px;}
.wpl-forte-buscador select{ background: #F1F1F1; border: 1px solid #CCCCCC; padding:4px;}


.wpl-forte-preload{
	text-align: center;
}
.wpl-forte-preload .icon-stack-base{
	color: #005cb9;
}



.wpl-forte-msg{
	text-align: center;
	color: #005cb9;
	font-weight: bold;
	font-size: 15px;	
}



.wpl-forte-items-resultados{
	border: 0 !important;
}
.wpl-forte-items-resultados caption{ 
	text-align:center; 
	font-size:14px; 
	font-weight:bold; 
	color:#1f5fac; 
	text-transform: none;
	width: 100%;
}

.wpl-forte-items-resultados thead,
.wpl-forte-items-resultados tbody{
}


.wpl-forte-items-titulo1 th{
	border:none !important; 
	padding:0;
}
.wpl-forte-items-titulo1 .wpl-forte-items-titulo{ 
	background-color:#005cb9; 
	color:#FFFFFF; 
	text-align:center; 
	font-size:12px; 
	padding:5px;
} 

.wpl-forte-items-titulo2 th{
	border:none !important; 
	padding:5px; 
	background-color:#005cb9; 
	color:#FFFFFF; 
	text-align:center; 
	font-size:12px;
}

.wpl-forte-item-resumen td{ 
	font-size:11px;
	text-align:center;
	padding:5px;
}