.form-login {
	width: 350px;
	height: auto;
	padding: 1em;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 20px;
	border: 10px solid rgba(0, 0, 0, .1);
	background: #efeff1;

}
.img-rounded {
	border: 10px solid #D2D1D1!important;
}

@media screen and (max-width: 900px){
	.form-login{
		width: 100%;
		padding: 0;
		margin: 0;
		border: 0;
	}


}