@charset "UTF-8";

#frmbusqueda{}
#frmbusqueda #txtbuscar{
	background-color: #F1F1F1;
    border: 1px solid #CCCCCC;
    padding: 7px;
}
#frmbusqueda #txtbuscar:focus{
	background-color: #fff;
}
#frmbusqueda #btnbuscar{
	background-color: #005cb9;
    border: medium none;
    color: #FFFFFF;
    margin-left: 5px;
    padding: 6px;
    text-transform: uppercase;
    cursor: pointer;
}
#frmbusqueda #btnbuscar:hover{
	background-color: #51b4e5;
}



#listamedia{
	border: 0;
	border-collapse: collapse;
    border-spacing: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    display: table;
}
#listamedia thead tr,
#listamedia tbody tr{
    border: 0;
    padding: 0;
}
#listamedia thead tr th,
#listamedia tbody tr td{
    border: 0;
    border-bottom: 1px dashed #DDDDDD;
    font-size: 13px;
    padding: 8px;
    text-align: left;
    color: #1f5fac;
}
#listamedia tbody tr td{
	font-size: 10px;
	color: #414141;
}
#listamedia tbody > tr:nth-child(odd) > td,
#listamedia tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}




.preloader{
	background-color: #000000;
    border-radius: 10px;
    height: 40px;
    width: 40px;
    margin: 0 auto;
}
.preloader span{
	background: url("../img/fancybox_loading.gif") no-repeat center;
	width: 40px;
	height: 40px;
	display: block;
}