/*   
Theme Name: Secretarias | Gobierno del Estado de Tamaulipas 2016-2022
Theme URI: http://www.tamaulipas.gob.mx
Description: Tema de Secretarias de Gobierno del Estado de Tamaulipas 2016-2022
Author: Departamento de Diseño Gráfico y Producción Web | Dirección de Internet
Author URI: http://www.tamaulipas.gob.mx
Version: 1.0
*/

/** Fonts **/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
/* font-family: 'Open Sans', sans-serif; */
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700);
/* font-family: 'Roboto Condensed', sans-serif; */
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

@import url(http://www.tamaulipas.gob.mx/wp-content/themes/secretarias/eberth.css);
@import url(http://www.tamaulipas.gob.mx/wp-content/themes/secretarias/memo.css);


/* Generales */
body{
	font-family: 'Open Sans', sans-serif;
	color:#555;
	font-size:14px;
	font-weight:400;
	line-height:23px;
	overflow-x: hidden;
}

a {
	transition:all .5s;
	-webkit-transition:all .5s;
	-moz-transition:all .5s;
	-ms-transition:all .5s;
	-o-transition:all .5s;
}

a:hover {
	text-decoration:none;
}

.clean-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.clean-list li{
	display: inline-block;
}

.clean-list ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.scrolloff {
  pointer-events: none;
}

#carrusel-destacadas:not(.owl-loaded) {
	display: none;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.img-gobernador {
  border: 1px solid #dbdbdb;
  padding: 10px;
  width: 350px;
  display: block;
  margin: 0 auto !important;
}

.ssba-wrap{
	margin-bottom: 20px;
}


/* Logo - Redes */

#logo-redes{
	padding: 10px 0;
}

#logo-redes .logotam {
  margin: 10px 0;
  max-height: 90px;
}

#logo-redes .titulo-sitio {
	display: none;
}

#logo-redes #redes-sociales {
  height: 120px;
  line-height: 120px;
}

#logo-redes #redes-sociales li {
  height: 120px;
  background: none;
}

#logo-redes #redes-sociales a {
  color: #808285;
  background: none;
  font-size: 1.5em;
  width: 30px;
  display: block;
  text-align: center;
}

#logo-redes #redes-sociales i {

}

#logo-redes #buscador form {
  height: 120px;
  line-height: 120px;
}

#logo-redes .form-buscador .form-control {
  display: inline-block;
  background: #fbfbfb;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  visibility: visible;
}

/* Menú Principal */

#menu-secretarias {
  background: #005cb9;
  height: 60px;
}

#menu-secretarias #menu-menu-principal {
  width: 100%;
}

#menu-menu-principal > li {
	height:60px;
	float: left;
}

#menu-menu-principal > li > a {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1em;
  padding: 0 20px;
  position: relative;
  text-transform: uppercase;
  font-weight: 300;
  height: 60px;
  display: flex;
  align-items: center;
  line-height: 1.3em;
  color: #FFF;
}

#menu-menu-principal > li:hover > a{
	background: #014e9c;
}

.menu-item.menu-item-has-children {
  position: relative;
}

.sub-menu {
  margin: 0;
  padding: 0;
}

#menu-menu-principal li .sub-menu .menu-item:hover {
  background: #e8e8e8;
}

#menu-menu-principal li .sub-menu {
  position: absolute;
  background: #fbfbfb;
  border-bottom: 3px solid #014e9c;
  display: none;
}

#menu-menu-principal li.derecha .sub-menu{
	right:0;
}

#menu-menu-principal .sub-menu li a {
  font-family: 'Open Sans';
  font-size: .9em;
  color: #014e9c;
  padding: 0 20px;
  display: block;
  line-height: 3em;
  white-space:nowrap;
}

#menu-menu-principal .sub-menu li {
  display: block;
}

#menu-menu-principal .menu-item:hover > .sub-menu {
  z-index: 999;
  display: block;
}

#menu-menu-principal .sub-menu i.mas{
  position: absolute;
  right: 5px;
  top: 13px;
  color: #014e9c;
}

#menu-menu-principal li:hover > .sub-menu > li > .sub-menu{
	background: #fbfbfb;
}

#menu-menu-principal li:hover > .sub-menu > li > .sub-menu > li:hover{
	background: #e8e8e8;
}

#menu-menu-principal .sub-menu .menu-item .sub-menu{
	top: 0;
	left: 100%;
}

#barras-boton {
  line-height: 60px;
  font-size: 3em;
  text-align: right;
}

/* http://codepen.io/tbatch/pen/gMYWrM */
input[name="menu-toggle"] {
  display: none;
}
#menu-btn {
  top: 0px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 0 !important;
  /* border-top-right-radius: 5px; */
  /* border-bottom-right-radius: 5px; */
}
.menu-bars {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 35px;
	margin-top: -5px;
}
.menu-bars span {
	display: block;
	width: 100%;
	height: 4px;
	background-color: #FFF;
	margin-bottom: 7px;
	transition: all 300ms ease;
}
.menu-bars span:last-child {
	margin-bottom: 0;
}
#menu-open:checked + .container #row-cabecera > #barras-boton .menu-btn-container label .menu-bars span {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	position: absolute;
	top: 0;
	left: 0;
}
#menu-open:checked + .container #row-cabecera > #barras-boton label .menu-bars span:last-child {
	-webkit-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	transform: rotate(135deg);	
}
#menu-open:checked ~ #row-menu-movil {
	transform: scaleY(1);
	display: block;
}


/* Menu Movil */

#row-menu-movil {
  overflow: hidden;
  background: #005cb9;
  transform-origin: top;
  transform: scaleY(0);
  transition: transform 0.26s ease;
  display: none;
}
#row-menu-movil.showing-menu {
  transform: scaleY(1); 
}
.menu-movil li {
  display: block;
  text-align: center;
}

.menu-movil li a {
  padding: 10px;
  display: block;
  color: white;
}
.menu-movil li:not(:last-child) a:after {
  content: '';
  width: 50%;
  height: 1px;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0) 100%);
  background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0) 100%);
  background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0) 100%);
  border-radius: 500px;
}

.menu-movil > li:last-child a {
  margin-bottom: 10px;
}


/* Telefonos y Servicios */

#telefonos-servicios {
  margin: 20px 0;
}

#servicios-linea h2 {
  margin: 0;
  margin-bottom: 5px;
  font-size: 1.2em;
  color: #005cb9;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
}

#servicios-linea {
  text-align: center;
}

#links-servicios-linea a {
  color: #5c6670;
  font-size: 0.9em;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: lighter;
}

#links-servicios-linea {
  text-transform: uppercase;
}

#links-servicios-linea li {
  display: block;
  border-top: 1px solid #d0d3d5;
}

#banner-servicios {
  margin: 0 auto;
  display: block;
}

#numeros-emergencia span {
  color: #95d600;
  font-size: 2.4em;
}

#numeros-emergencia li {
  display: block;
  margin-bottom: 10px;
}

ul#numeros-emergencia {
  text-align: left;
  font-family: 'Roboto Condensed', sans-serif;
}

/* Teléfonos de Emergengia */
#telefonos{
	margin: 20px 0;
	padding: 15px 0;
	background: #f2f2f2;
}

#telefonos.horizontal .telefono{
	overflow: hidden;
	float: left;
}

#telefonos.horizontal .telefono.emergencia{
	width: 20%;
}

#telefonos.horizontal .telefono.cruzroja{
	width: 20%;
}

#telefonos.horizontal .telefono.denuncia{
	width: 25%;
}

#telefonos.horizontal .telefono.atencion{
	width: 35%;
}

#telefonos.horizontal .telefono > *{
	float: left;
}

#telefonos.horizontal .telefono > h3{
	font-family: 'Roboto Condensed', sans-serif;
	margin: 0 0 0 10px;
	font-size: 2em;
	line-height: 45px;
	color: #95d600;
}

#telefonos.horizontal .telefono > h4{
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
	margin: 0 0 0 10px;
	font-size: 1.1em;
	line-height: 45px;
	color: #345271;
}


/* Bloques configurables */
.bloque-index {
	margin-bottom: 30px;
}
.bloque-index ~ .bloque-index {
	margin-top: 30px;
}

/* Transmisión en Vivo */
#transmision{
	margin: 30px 0;
}

/* Carrusel Destacadas */

#destacadas{
	margin: 0 0 30px 0;
}

#carrusel-destacadas{
	background: #f2f2f2;
}

#carrusel-destacadas .nota{
	
}

#carrusel-destacadas .nota-datos{
	padding: 20px;
}

#carrusel-destacadas .meta{
	font-size: 11px;
	padding: 10px 20px;
	background: #005CB9;
	color: #FFF;
}

#carrusel-destacadas .meta li{
	margin-right: 20px;
}

#carrusel-destacadas .meta i.fa{
	margin-right: 5px;
}

#carrusel-destacadas .meta .fecha i{
	font-style: normal;
	text-transform: capitalize;
}

#carrusel-destacadas .meta li.categoria a{
	color: #FFF;
}


#carrusel-destacadas .nota-datos h2{
	font-family: 'Roboto Condensed';
	font-size: 1.2em;
	color: #333;
	text-transform: uppercase;
	margin: 0;
}

.owl-theme .owl-controls {
  margin: 0;
}

.owl-controls .owl-nav [class*=owl-] {
  background: #FFF !important;
  color: #333 !important;
  font-size: 20px !important;
  padding: 15px !important;
  border-radius: 0;
  opacity: .7;
}

.owl-controls .owl-nav [class*=owl-]:hover {
  background: #FFF !important;
  color: #333 !important;
  opacity: 1;
}

.owl-controls .owl-prev,
.owl-controls .owl-next {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 50px;
  margin: auto !important;
}

.owl-controls .owl-prev {
  left: 0;
}

.owl-controls .owl-next {
  right: 0;
}

.owl-controls .owl-dots {
  display: none !important;
}


/* Carrusel de Prensa */

#carrusel{
	margin: 30px 0;
	padding: 30px 0;
	background: #f2f2f2;
}

#carrusel .fondo{
	background: #f2f2f2;
	padding:15px;
}

#carrusel .nota{
	border-right: 1px solid #d0d3d5;
}

#carrusel .nota .calendario{
	font-size: 20px;
}

#carrusel .nota .meta{
	color: #5c6670;
}

#carrusel .nota .fecha i{
	font-style: normal;
	text-transform: capitalize;
}

#carrusel .nota h2{
	font-family: 'Roboto Condensed';
	font-size: 1.2em;
	text-transform: uppercase;
	font-weight: 600;
	color: #333;
	margin-bottom: 20px;
}

#carrusel .nota p{
	font-size: 13px;
	color: #5c6670;
	line-height: 20px;
}

#carrusel .nota p a{
	color: #333;
}

/* Bloques */

#bloques{
	margin: 30px 0;
}

#bloques .bloque{
	width: 25%;
	height: 365px;
	float: left;
	background-position: center center !important;
	background-size: cover !important;
	position: relative;
}

#bloques .bloque.musica{
	background: url('img/musica.jpg');
}

#bloques .bloque.festividades{
	background: url('img/festividades.jpg');
}

#bloques .bloque.gastronomia{
	background: url('img/gastronomia.jpg');
}

#bloques .bloque.traje-tipico{
	background: url('img/traje-tipico.jpg');
}

#bloques .bloque .bottom{
	position: absolute;
	bottom: 0;
	left: 0;
	height: 65px;
	width: 100%;
	overflow: hidden;
}

#bloques .bloque .bottom .titulo{
	position: absolute;
	left: -10px;
	width: 80%;
	height: 60px;
	padding: 0 20px;
	display: flex;
	align-items: center;
	background: rgba(0,92,185,.8);
	transform: skew(20deg);
    box-shadow: 0px 2px 6px rgba(0,0,0,0.5);
}

#bloques .bloque .bottom .titulo h3{
	font-family: 'Roboto Condensed';
	font-size: 1.2em;
	text-transform: uppercase;
	color: #FFF;
	display: block;
	width: 100%;
	text-align: center;
	margin: 0;
	transform: skew(-20deg);
}

#bloques .bloque .bottom .celeste{
	position: absolute;
	bottom: 0;
	left: 77%;
	width: 35%;
	height: 60px;
	background: rgba(149,214,0,1);
	transform: skew(20deg);
}



/** Interiores **/

/* Breadcrumbs */
div#breadcrumbs {
  margin-top: 10px;
  margin-bottom: 20px;
  color: #777c80;
  font-size: .9em;
}

div#breadcrumbs a span{
  color: #40B4E5;
}

/* Content */

#the_content {
  color: #333;
}

h1#the_title {
	margin: 20px 0;
  font-size: 2.5em;
  text-transform: uppercase;
  color: #333;
  font-family: 'Roboto condensed', sand-serif;
	border-left: 5px solid #95d600;
  font-weight: 600;
  padding-left: 20px;
}

#the_category a {
  color: #40b4e5;
  font-size: 0.9em;
}

div#entry {
  font-size: 1em;
  margin-bottom: 30px;
}

#entry p {
	margin-bottom: 20px;
}

#entry > .destacada {
	margin-bottom: 20px;
}

#entry img{
	max-width: 100%;
	height: auto;
}

#entry ul,
#entry ol{
	margin: 20px 0;
}

#entry h1, #entry h2, #entry h3, #entry h4, #entry h5, #entry h6 {
	font-family: 'Roboto Condensed', sans-serif;
	color: #074167;
}

#entry .ssba-wrap{
	margin-bottom: 20px;
}

#entry blockquote{
	font-size: 1em;
	line-height: 1.5em;
}

#entry .cuadro-interior {
  background: #f2f2f2;
  margin-bottom: 20px;
  padding: 0 20px 20px 20px;
}

#entry .cuadro-interior h2 {
  background: #f2f2f2;
  color: white;
  font-size: 1.5em;
  text-align: center;
  padding: 5px 0;
  margin: 0 -20px 20px;
}

#entry .cuadro-interior.celeste h2 {
  background: #3db4e5;
}

#entry .cuadro-interior.aqua h2 {
  background: #13a89e;
}

#entry .cuadro-interior.azul h2 {
  background: #1f5fac;
}

#entry .cuadro-interior.verde h2 {
  background: #96c93d;
}

#entry .cuadro-interior.azul-oscuro h2 {
  background: #144f79;
}

#entry .cuadro-interior.azul-claro h2 {
  background: #2299bc;
}

.owl-gallery .item + .item {
  display: none;
}

.entry figcaption{
	display: none;
}

#the_meta {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 5px 0;
  font-size: 11px;
}

#the_meta li{
	margin-right: 10px;
}

#the_meta li a {
	color: #646569;
}


/* Forma de Contacto */

.form-control.form-linea {
  width: 32.3%;
  float: left;
  margin-left: 1.3%;
}

.wpcf7 p {
  clear: both;
}

.lada input {
  width: 15% !important;
}

span:first-of-type .form-control.form-linea {
  margin-left: 0;
}

textarea.wpcf7-form-control.wpcf7-textarea {
  width: 100%;
  resize: none;
}


/* Sidebar */

#serivicios-linea-sidebar{
	margin-top: 20px;
}
#nota-sidebar .meta li i.fa {
  margin-right: 5px;
}
#the_sidebar .nota-datos.row {
  font-size: 11px;
}

#the_sidebar .nota-datos h2 {
  font-size: 1.2em;
  margin-top: 5px;
}

#nota-sidebar .col-xs-10 {
	margin-bottom: 10px;
}

#the_sidebar .nota {
	border-bottom: 1px solid #dbdbdb
}

#the_sidebar .nota:last-child{
	border: 0;
}

#nota-sidebar img {
  display: block;
  margin: 0 auto;
}

#the_sidebar .nota .calendario{
	font-size: 20px;
}

#the_sidebar .nota-datos .meta li, #the_sidebar .nota-datos li{
	margin-right: 10px;
}

#the_sidebar .nota-datos .meta, #the_sidebar .nota-datos a{
	color: #646569; /* 40b4e5 */
  font-size: 11px;
}

#the_sidebar .nota .fecha i{
	font-style: normal;
	text-transform: capitalize;
}

#the_sidebar .nota h2{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1em;
	text-transform: uppercase;
	color: #005cb9;
	margin-top: 0px;
}

#the_sidebar .nota p{
	font-size: 13px;
	color: #5c6670;
	line-height: 20px;
}


/* Archive y Category */

#primera-nota {
	margin-top: 30px;
	margin-bottom: 30px;
}

#primera-nota a {
	height: 300px;
	width: 100%;
	display: block;
	position: relative;
}

#primera-nota .bg {
	width: 100%;
	position: absolute;
	bottom: 0;
	padding: 20px;
	top: 50%;
	font-size: 1.5em;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}

#primera-nota .titulo{
	position: absolute;
	bottom: 20px;
}

.demas-notas .titulo {
  font-size: 1.1em;
  color: #074167;
  padding: 5px;
}

#primera-nota .titulo-nota{
	font-family: 'Roboto Condensed';
	padding: 30px;
}

#primera-nota .titulo-nota .meta{
	margin-bottom: 20px;
	color: white;
}

#primera-nota .titulo-nota .meta i{
	font-style: normal;
	text-transform: capitalize;
}

#primera-nota .titulo-nota h2{
	font-size: 1.7em;
	text-transform: uppercase;
	font-weight: 700;
	position: relative;
	color: #FFF;
}


/* Archive */
#archive {
	margin-bottom: 40px;
}
#archive .meta {
  padding: 5px 0;
  font-size: 11px;
}

#archive .meta li {
  margin-right: 5px;
}

#archive .meta li i {
  margin-right: 5px;
}

#archive h2 {
  margin: 0;
  font-size: 1.1em;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
}

#archive .nota a {
  color: #005cb9;
}

#archive .nota li a {
  color: #646569;
}

#archive .nota {
	margin-bottom: 20px;
}
#archive .nota a.excerpt {
    color: #333333;
}
/*Logos Banners*/
/*#banners-logos{
    background-color:#E8E8E8; 
    padding: 25px 0 45px;
}

#banners-logos p{
    text-transform: uppercase;
    margin: 0 0 25px;
    font-size: 2.2em;
    text-align: center;
    line-height: normal;
    width: calc(100% - 0px);
    font-weight: 600;
}
.owl-controls .owl-dots {
    display: none !important;
}*/
/*/Logo Banners*/

/* Footer */

#footer {
	overflow: hidden;
}

#footer-bg {
  background: -moz-linear-gradient(left, #005CB9 0%, #005CB9 50%,#f5f5f5 50%, #f5f5f5 100%);
  background: -webkit-linear-gradient(left, #005CB9 0%, #005CB9 50%,#f5f5f5 50%,#f5f5f5 100%);
  background: linear-gradient(to right, #005CB9 0%,#005CB9 50%,#f5f5f5 50%,#f5f5f5 100%);
}

#footer-links {
  background: #f5f5f5;
}

#footer h2 {
  font-size: .9em;
  text-transform: uppercase;
  font-weight: bold;
  color: #333e48;
  font-family: 'Roboto Condensed', sans-serif;
  margin-bottom: 20px;
  padding-top: 20px;
  margin-top: 0;
}

#footer .info h2 {
  color: white;
}

#footer .menu li {
    display: block;
    line-height: 1.2;
    margin-bottom: 7px;
}

#footer .menu li a {
  color: #5c6670;
  font-size: 0.9em;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: lighter;
}

#footer .info p {
  font-size: .8em;
  color: white;
  margin-bottom: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: lighter;
}

#footer .info p:last-child {
  padding-bottom: 30px;
}

.diag-spacer {
	display: inline-block;
	position: absolute;
	transform: rotate(-20deg);
	bottom: -100px;
	z-index: 0;
	left: 50%;
	z-index: 9;
}

.diag-spacer .mask {
	overflow: hidden;
	width: 20px;
	height: 400px;
}

.diag-spacer .mask:after {
	content: '';
	display: block;
	margin-left: -20px;
	width: 20px;
	height: 100%;
	border-radius: 12px / 125px;
	box-shadow: 0 0 10px #95D600;
}

div#footer-diagonal-color {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

div#footer-diagonal-color:after {
  content: '';
  background: #f5f5f5;
  height: 400px;
  width: 100%;
  display:block;
  transform: rotate(-20deg);
  position:absolute;
  z-index: 0;
  bottom: -100px;
  left: 53%;
  z-index: 0;
}

#footer-rows > div {
  min-height: 200px;
}


/* Liston inferior */

#liston-inferior {
  text-align: center;
  color: white;
  font-size: .9em;
  line-height: 35px;
  height: 35px;
  background: #646569;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: lighter;
  position: relative;
}

/* Mapa del estado */
path {
    transition: fill .1s ease-in-out;
    cursor: pointer;
}
path.selected {
    fill: #96c93d;
}
#Layer_1 {
    max-width: 100%;
}

/* Sidebar */
#carrusel-banners a+a {
    display: none;
}

#carrusel-banners a img {
    max-width: 100%;
}
.titulo-sidebar {
    margin: 0;
    padding: 0;
    margin-top: 30px;
    font-size: 1.3em;
    overflow: hidden;
    background: -moz-linear-gradient(left, #1f5fac 0%, #1f5fac 50%,#FFFFFF 50%, ##FFFFFF 100%);
    background: -webkit-linear-gradient(left, #1f5fac 0%, #1f5fac 50%,#FFFFFF 50%, #FFFFFF 100%);
    background: linear-gradient(to right, #1f5fac 0%, #1f5fac 50%,#FFFFFF 50%, #FFFFFF 100%);
    position: relative;
    font-family: 'Roboto Condensed', sans-serif;
}
h2.titulo-sidebar a {
    color: white;
    background: #1f5fac;
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
    transform: skew(20deg);
    width: 90%;
}
.titulo-sidebar a:before {
    content: '';
    position: absolute;
    right: 0px;
    width: 5px;
    top: 0;
    height: 100%;
    background: -moz-linear-gradient(bottom, #95c03a 0%, #3fabde 100%);
    background: -webkit-linear-gradient(bottom, #95c03a 0%, #3fabde 100%);
    background: linear-gradient(to top, #95c03a 0%, #3fabde 100%);
}
.titulo-sidebar a span {
    transform: skew(-20deg);
    display: block;
}


#carrusel-banners .bloque{
	width: 100%;
	height: 200px;
	float: left;
	background-position: center center !important;
	background-size: cover !important;
	position: relative;
}

#carrusel-banners .bloque.musica{
	background: url('img/musica.jpg');
}

#carrusel-banners .bloque.festividades{
	background: url('img/festividades.jpg');
}

#carrusel-banners .bloque.gastronomia{
	background: url('img/gastronomia.jpg');
}

#carrusel-banners .bloque.traje-tipico{
	background: url('img/traje-tipico.jpg');
}

#carrusel-banners .bloque .bottom{
	position: absolute;
	bottom: 0;
	left: 0;
	height: 65px;
	width: 100%;
	overflow: hidden;
}

#carrusel-banners .bloque .bottom .titulo{
	position: absolute;
	left: -10px;
	width: 80%;
	height: 60px;
	padding: 0 20px;
	display: flex;
	align-items: center;
	background: rgba(0,92,185,.8);
	transform: skew(20deg);
    box-shadow: 0px 2px 6px rgba(0,0,0,0.5);
}

#carrusel-banners .bloque .bottom .titulo h3{
	font-family: 'Roboto Condensed';
	font-size: 1.2em;
	text-transform: uppercase;
	color: #FFF;
	display: block;
	width: 100%;
	text-align: center;
	margin: 0;
	transform: skew(-20deg);
}

#carrusel-banners .bloque .bottom .celeste{
	position: absolute;
	bottom: 0;
	left: 77%;
	width: 35%;
	height: 60px;
	background: rgba(149,214,0,1);
	transform: skew(20deg);
}
#entry .cuadro-interior ul li a:hover, #entry .cuadro-interior ul li a.selected {
    color: #3fabde;
}
.nota-meta.row {
    margin-bottom: 10px;
}
a.ver-sala-prensa {
    color: #3fabde;
}

/* Galeria y video */
#galeria-video .galeria-item, #galeria-video .galeria-item-flickr {
    height: 105px;
    padding: 1px;
}

.imgLiquidFill {
    height: 100%;
    width: 100%;
}
#galeria-video .galeria-item-flickr a:hover {
    background: #ff0084;
}
#galeria-video .galeria-item-flickr a {
    color: white;
    display:block;
    line-height: 105px;
    text-align: center;
    font-size: 3em;
    background: #0063dc;
    height: 100%;
}

a.link-foto {
    display: block;
    width: 100%;
    height: 100%;
}

/* Informacion de contacto */
div#mapa_google {
    width: 100%;
    height: 100%;
}
#mapa_google.con-conocer-mas {
  height: 300px;
}
div#map_canvas {
    height: 100%;
}
#informacion-contacto h3 {
	font-family: 'Roboto Condensed', sans-serif;
  border-left: 5px solid #95d600;
  padding-left: 15px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 20px;
}

#informacion-contacto h4 {
  font-weight: bold;
}
#informacion-contact {
	margin-bottom: 60px;
}
#conocer-mas {
	width: 50%;
}

#mapa-ubicaciones {
	height: 400px;
	margin-bottom: 30px;
}

/* Buscador avanzado */
#buscador .buscador-filtro {
    position: absolute;
    bottom: -60px;
    line-height: 20px;
    width: 100%;
    background: white;
    border: 1px solid #dbdbdb;
    border-radius: 0 0 10px 10px;
    z-index: 999;
    display: none;
}

.buscador-filtro ul {
    margin-top: 10px;
    list-style: none;
    padding: 0;
}

#logo-redes .form-buscador .form-control.buscando {
    border-radius: 10px 10px 0 0;
}

.buscador-filtro ul li.selected {
    background: #dbdbdb;
}

.buscador-filtro ul li a {
    padding: 10px 20px;
    display: block;
    width: 100%;
}

#buscador .buscando + .buscador-filtro {
    display: block;
}

#logo-redes #buscador form {
    position: relative;
}

#resultados small {
    color: #808285;
    font-weight: lighter;
    display:block;
    margin-bottom: 5px;
}

#resultados h4{
	font-family: 'Roboto Condensed', sans-serif;
	color: #074167;
  margin-bottom: 0px;
  margin-top: 25px;
}

/* Conocenos */
#conocenos .splash{
	height: 300px;
	background-size: cover !important;
	background-position: center center !important;
}

#conocenos .container {
    padding-top: 20px;
    padding-bottom: 20px;
}

#conocenos h2 {
    font-family: 'Roboto Condensed', sans-serif;
    border-left: 5px solid #95d600;
    padding-left: 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 20px;
}

#conocenos p {
    color: #5c6670;
    text-align: justify;
}

#conocenos h3 {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    color: #005cb9;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 5px;
}

#conocenos h4 {
    text-align: center;
    font-size: 1em;
    margin-top: 0;
}

#conocenos #redes-sociales{
	
}

#conocenos span.siguenos{
	float: left;
	line-height: 33px;
	font-family: 'Roboto Condensed', sans-serif;
	margin-right: 15px;
	font-size: 1em;
	text-transform: uppercase;
}

#conocenos #redes-sociales li{
	padding: 5px 0;
	border-radius: 3px;
	width: 50px;
}

#conocenos #redes-sociales li.li-fb{
	background: #3b5998;
}

#conocenos #redes-sociales li.li-tw{
	background: #1da1f2;
}

#conocenos #redes-sociales li.li-yt{
	background: #cd201f;
}

#conocenos #redes-sociales li a{
	color: #FFF;
	display: block;
	text-align: center;
}

#conocenos #redes-sociales li a i{
	font-size: 1.2em;
}

#img-secretario {
    width: 150px;
    height: 150px;
    background-position: center center;
    background-size: cover;
    border-radius: 75px;
    border: 10px solid white;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
}

#conocenos .col-md-4 {
    padding-top: 50px;
}

#telefonos-servicios.horizontal #numeros-emergencia li {
    display: inline-block;
}

#telefonos-servicios.horizontal #numeros-emergencia {
    text-align: justify;
}

#telefonos-servicios.horizontal #numeros-emergencia:after {
  content: "";
  display: inline-block;
  width: 100%;
}

/* Footer especial */
#footer-no-diagonal {
    background: -moz-linear-gradient(left, #005CB9 0%, #005CB9 50%,#f5f5f5 50%, #f5f5f5 100%);
    background: -webkit-linear-gradient(left, #005CB9 0%, #005CB9 50%,#f5f5f5 50%,#f5f5f5 100%);
    background: linear-gradient(to right, #005CB9 0%,#005CB9 50%,#f5f5f5 50%,#f5f5f5 100%);
}

#map-marker-content h1 {
	font-size: 1.7em;
	font-family: "Roboto Condensed", sans-serif;
}


/* Tabs */
.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border-bottom: 1px solid #ddd;
  border-radius: 4px 4px 0 0;
  background: #FFF;
  border-top: 3px solid #ddd;
  color: #666;
}

.nav-tabs > li > a:hover{
	background: #fcfcfc;
	border-top: 3px solid #ddd;
}

.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:focus, 
.nav-tabs > li.active > a:hover {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  border-top: 3px solid #005CB9;
  color: #005CB9;
}

#tabs-masinfo{
	background: #FFF;
	border: 1px solid #ddd;
	padding: 20px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-top-color: transparent;
}

/* Bloque de jovenes */
#bloques-jovenes {
    background: #4daad4;
    padding: 30px 0;
}

.bloque-jovenes-titulo, .bloque-jovenes-imagen {
    background: white;
    height: 150px;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    justify-content: center;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 10px;
}

#bloques-jovenes .bloque-jovenes {
    padding: 0;
}
#bloques-jovenes .bloque-jovenes a, #bloques-jovenes .bloque-jovenes a:hover, #bloques-jovenes .bloque-jovenes a:active {
	text-decoration: none;
}
.bloque-jovenes-imagen {
    font-size: 7em;
    color: white;
}

.bloque-convocatorias .bloque-jovenes-titulo { color: #f8a01a; }
.bloque-salaprensa .bloque-jovenes-titulo { color: #df277f; }
.bloque-programas .bloque-jovenes-titulo { color: #82b43b; }
.bloque-contacto .bloque-jovenes-titulo { color: #005991; }
.bloque-sitiosinteres .bloque-jovenes-titulo { color: #923fc5; }
.bloque-becas .bloque-jovenes-titulo { color: #00b3fe; }

.bloque-convocatorias .bloque-jovenes-imagen { background: url(img/seccion-jovenes-convocatorias.jpg) center center no-repeat; background-size: cover; }
.bloque-salaprensa .bloque-jovenes-imagen { background: url(img/seccion-jovenes-salaprensa.jpg) center center no-repeat; background-size: cover; }
.bloque-programas .bloque-jovenes-imagen { background: url(img/seccion-jovenes-programas.jpg) center center no-repeat; background-size: cover; }
.bloque-contacto .bloque-jovenes-imagen { background: url(img/seccion-jovenes-contacto.jpg) center center no-repeat; background-size: cover; }
.bloque-sitiosinteres .bloque-jovenes-imagen { background: url(img/seccion-jovenes-sitiosinteres.jpg) center center no-repeat; background-size: cover; }
.bloque-becas .bloque-jovenes-imagen { background: url(img/seccion-jovenes-becas.jpg) center center no-repeat; background-size: cover; }
/* /Bloque de jovenes */


/* Media Querys */

@media (max-width: 767px)  {

	/* Tabs Responsive */
	.nav-tabs.responsive > li {
	  display: none;
	  width: 23%;
	}
	
	.nav-tabs.responsive > li > a {
	  max-width: 100%;
	  overflow: hidden;
	  text-overflow: ellipsis;
	  white-space: nowrap;
	  word-wrap: normal;
	  width: 100%;
	  width: 100%;
	  text-align: center;
	  vertical-align: top;
	}
	
	.nav-tabs.responsive > li.active {
	  width: 54%;
	}
	
	.nav-tabs.responsive > li.active:first-child {
	  margin-left: 23%;
	}
	
	.nav-tabs.responsive > li.active, .nav-tabs.responsive > li.prev, .nav-tabs.responsive > li.next {
	  display: block;
	}
	
	.nav-tabs.responsive > li.prev, .nav-tabs.responsive > li.next {
	  -webkit-transform: scale(0.9);
	  transform: scale(0.9);
	}
	
	.nav-tabs.responsive > li.next > a, .nav-tabs.responsive > li.prev > a {
	  -webkit-transition: none;
	  transition: none;
	}
	
	.nav-tabs.responsive > li.next > a .text, .nav-tabs.responsive > li.prev > a .text {
	  display: none;
	}
	
	.nav-tabs.responsive > li.next > a:after, .nav-tabs.responsive > li.next > a:after, .nav-tabs.responsive > li.prev > a:before, .nav-tabs.responsive > li.prev > a:before {
	  position: relative;
	  top: 1px;
	  display: inline-block;
	  font-family: 'Glyphicons Halflings';
	  font-style: normal;
	  font-weight: 400;
	  line-height: 1;
	  -webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;
	}
	
	.nav-tabs.responsive > li.prev > a:before {
	  content: "\e079";
	}
	
	.nav-tabs.responsive > li.next > a:after {
	  content: "\e080";
	}
	
	.nav-tabs.responsive > li.dropdown > a > .caret {
	  display: none;
	}
	
	.nav-tabs.responsive > li.dropdown > a:after {
	  content: "\e114";
	}
	
	.nav-tabs.responsive > li.dropdown.active > a:after {
	  display: none;
	}
	
	.nav-tabs.responsive > li.dropdown.active > a > .caret {
	  display: inline-block;
	}
	.nav-tabs.responsive > li.dropdown .dropdown-menu.pull-xs-left {
	  left: 0;
	  right: auto;
	}
	
	.nav-tabs.responsive > li.dropdown .dropdown-menu.pull-xs-center {
	  right: auto;
	  left: 50%;
	  -webkit-transform: translateX(-50%);
	  -moz-transform: translateX(-50%);
	  -ms-transform: translateX(-50%);
	  -o-transform: translateX(-50%);
	  transform: translateX(-50%);
	}
	
	.nav-tabs.responsive > li.dropdown .dropdown-menu.pull-xs-right {
	  left: auto;
	  right: 0;
	}
	
	.bloque-jovenes-titulo, .bloque-jovenes-imagen {
		width: 50%;
	}
	
	.bloque-jovenes:nth-child(even) .bloque-jovenes-titulo { float: left; }
	.bloque-jovenes:nth-child(odd) .bloque-jovenes-titulo { float: right; }

	.bloque-jovenes:nth-child(even) .bloque-jovenes-imagen { float: right; }
	.bloque-jovenes:nth-child(odd) .bloque-jovenes-imagen { float: left; }
}

@media (max-width: 767px)  {
	
	#conocenos .splash{
		height: 200px;
	}
	
	#links-liston-superior{
		float: none !important;
		clear: both;
		text-align: center;
	}
	
	#liston-superior {
		height: auto;
		overflow: hidden;
	}
	
	.form-buscador.showing-search .form-control {
		width: 160px;
	}
	
	#conocenos #redes-sociales {
		font-size: 1.2em;
		width: 100%;
		text-align: center;
	}
	
	#conocenos #redes-sociales:after{
		content: ' ';
		display: block;
		width: 100%;
	}
	
	#conocenos span.siguenos{
		width: 100%;
		text-align: center;
	}
	
	#conocenos #redes-sociales li{
		width: 32%;
		display: inline-block;
	}
	
	#telefonos-servicios .row >div {
		margin-bottom: 20px;
	}
	
	ul#numeros-emergencia {
		font-size: 0.9em;
	}
	
	#liston-inferior {
		height: auto;
		line-height: 2;
		padding: 0 10px;
	}
	
	#to-break {
		display: block;
		font-size: 0;
	}
	
	#bloques .bloque{
		width: 100%;
		height: 200px;
	}
  
  #telefonos.horizontal .telefono.emergencia{
		width: 100%;
		margin: 10px 0;
	}
	
	#telefonos.horizontal .telefono.cruzroja{
		width: 100%;
		margin: 10px 0;
	}
	
	#telefonos.horizontal .telefono.denuncia{
		width: 100%;
		margin: 10px 0;
	}
	
	#telefonos.horizontal .telefono.atencion{
		width: 100%;
		margin: 10px 0;
	}
	
	#telefonos.horizontal .telefono > h3{
		font-size: 1.7em;
	}
	
	#telefonos.horizontal .telefono > h4{
		font-size: .9em;
	}
	
}

@media (max-width: 991px) {
	
	#logo-redes #buscador form {
	    height: 80px;
	    line-height: 80px;
	    margin-bottom: 0;
	}
	
	#buscador .buscador-filtro{
		bottom: -82px;
	}
	
	#menu-secretarias {
	    background: #005cb9;
	    height: auto;
	}
	
	#links-liston-superior {
		font-size: 16px;
	}
	
	#footer-bg {
		text-align: center;
	  background: #f5f5f5;
	}
	
	#footer-rows.cols-same-height > div {
	    height: auto !important;
	}
	
	div.info {
	    background: #005CB9;
	}
	
	#footer {
	    padding-top: 30px;
	    font-size: 17px;
	}
	
	ul#numeros-emergencia {
		text-align: center;
	}
	
	ul#numeros-emergencia span {
		display: block;
	}
  
	#servicios-linea {
	    font-size: 17px;
	}
	
	div#entry {
	    font-size: 1.1em;
	}
	
	#slider .slider .degradado{
		height: 300px;
		background: -moz-linear-gradient(top,  rgba(0,92,185,0) 0%, rgba(0,92,185,0) 40%, rgba(0,92,185,1) 75%, rgba(0,92,185,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  rgba(0,92,185,0) 0%,rgba(0,92,185,0) 40%,rgba(0,92,185,1) 75%,rgba(0,92,185,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  rgba(0,92,185,0) 0%,rgba(0,92,185,0) 40%,rgba(0,92,185,1) 75%,rgba(0,92,185,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00005cb9', endColorstr='#005cb9',GradientType=0 ); /* IE6-9 */
	}
	
	#slider .slider .degradado .row .col-sm-12{
		height: 300px;
		position: relative;
	}
	
	#slider .slider .titulo-nota{
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 0 30px 5px 30px;
	}
	
	#slider .slider .titulo-nota h2{
		font-size: 1.5em;
		margin: 15px 0 10px 0;
	}
	
	#slider .slider{
		background-size: cover !important;
		background-position: center center;
	}
	
	#primera-nota .degradado{
		height: 300px;
		background: -moz-linear-gradient(top,  rgba(0,92,185,0) 0%, rgba(0,92,185,0) 40%, rgba(0,92,185,1) 75%, rgba(0,92,185,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  rgba(0,92,185,0) 0%,rgba(0,92,185,0) 40%,rgba(0,92,185,1) 75%,rgba(0,92,185,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  rgba(0,92,185,0) 0%,rgba(0,92,185,0) 40%,rgba(0,92,185,1) 75%,rgba(0,92,185,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00005cb9', endColorstr='#005cb9',GradientType=0 ); /* IE6-9 */
	}
	
	#primera-nota .degradado .row .col-sm-12{
		height: 300px;
		position: relative;
	}
	
	#primera-nota .titulo-nota{
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 0 30px 5px 30px;
	}
	
	#primera-nota .titulo-nota h2{
		font-size: 1.5em;
		margin: 15px 0 10px 0;
	}
	
	#primera-nota{
		background-size: cover !important;
		background-position: center center;
	}
	
	#the_sidebar .nota h2 {
/* 		font-size: 1.5em; */
	}
	
	#the_title {
		font-size: 2em !important;
	}
   #galeria-video .galeria-item, #galeria-video .galeria-item-flickr {
        height: 125px;
    }
    #galeria-video .galeria-item-flickr a {
        line-height: 125px;
    }
    #galeria-video .col-md-6:first-child {
    	margin-bottom: 20px;
    }
    .galeria-item-flickr {
        width: 100%;
        height: 60px !important;
    }
    .galeria-item-flickr a {
        height: 60px !important;
        line-height: 60px !important;
    }
	
}

@media (min-width: 767px) and (max-width: 991px)  {
	
	#conocenos .splash{
		height: 250px;
	}
	
	#bloques .bloque{
	  height: 250px;
	}
	
	#bloques .bloque .bottom .titulo h3{
	  font-size: 1em;
	}
	
	#bloques .bloque .bottom .celeste{
		left: 136px;
	}
	
	#galeria-video .galeria-item:last-child {
	  display: none;
	}
	
	#telefonos.horizontal .telefono > h4{
		line-height: 1.5em
	}
  
}

@media (min-width: 992px) {
	
	#slider .slider .titulo-nota{
		height: 300px;
	}
	
	#slider .slider .titulo-nota:before{
		content: ' ';
		height: calc(100% - 60px);
		border-left: 1px solid #95d600;
		position: absolute;
		top: 30px;
		left: 15px;
	}
	
	#slider .slider .titulo-nota h2:before{
		content: ' ';
		width: 10px;
		height: 30px;
		display: block;
		background: #95d600;
		position: absolute;
		top: 0;
		left: -35px;
	}
	
	#slider .slider .degradado{
		height: 300px;
		background: -moz-linear-gradient(left,  rgba(0,92,185,0) 0%, rgba(0,92,185,0) 40%, rgba(0,92,185,1) 75%, rgba(0,92,185,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left,  rgba(0,92,185,0) 0%,rgba(0,92,185,0) 40%,rgba(0,92,185,1) 75%,rgba(0,92,185,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right,  rgba(0,92,185,0) 0%,rgba(0,92,185,0) 40%,rgba(0,92,185,1) 75%,rgba(0,92,185,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00005cb9', endColorstr='#005cb9',GradientType=1 ); /* IE6-9 */
	}
	
	#primera-nota .titulo-nota{
		height: 300px;
	}
	
	#primera-nota .titulo-nota:before{
		content: ' ';
		height: calc(100% - 60px);
		border-left: 1px solid #95d600;
		position: absolute;
		top: 30px;
		left: 15px;
	}
	
	#primera-nota .titulo-nota h2:before{
		content: ' ';
		width: 10px;
		height: 30px;
		display: block;
		background: #95d600;
		position: absolute;
		top: 0;
		left: -35px;
	}
	
	#primera-nota .degradado{
		height: 300px;
		background: -moz-linear-gradient(left,  rgba(0,92,185,0) 0%, rgba(0,92,185,0) 40%, rgba(0,92,185,1) 75%, rgba(0,92,185,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left,  rgba(0,92,185,0) 0%,rgba(0,92,185,0) 40%,rgba(0,92,185,1) 75%,rgba(0,92,185,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right,  rgba(0,92,185,0) 0%,rgba(0,92,185,0) 40%,rgba(0,92,185,1) 75%,rgba(0,92,185,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00005cb9', endColorstr='#005cb9',GradientType=1 ); /* IE6-9 */
	}
	
	div#mapa_google.con-conocer-mas {
		height: 86%;
	}
}

@media (min-width: 992px) and (max-width: 1199px)  {
	
	#menu-menu-principal > li > a {
		padding: 0 14px;
	}
   
	#bloques .bloque .bottom .celeste{
		left: 179px;
	}
	
	#row-cabecera .menu-escritorio{
		height: 116px;
	}
		
	#links-servicios-linea li {
	line-height: 1.3;   
	}
	
	ul#numeros-emergencia {
	text-align: left;
	font-size: .8em;
	}
	
	#galeria-video .galeria-item, #galeria-video .galeria-item-flickr {
	  height: 85px;
	}
	
	#galeria-video .galeria-item-flickr a {
	  line-height: 85px;
	}
	
	#telefonos.horizontal .telefono.emergencia{
		width: 20%;
	}
	
	#telefonos.horizontal .telefono.cruzroja{
		width: 20%;
	}
	
	#telefonos.horizontal .telefono.denuncia{
		width: 24%;
	}
	
	#telefonos.horizontal .telefono.atencion{
		width: 36%;
	}
	
	#telefonos.horizontal .telefono > *{
		float: left;
	}
	
	#telefonos.horizontal .telefono > h3{
		font-size: 1.7em;
	}
	
	#telefonos.horizontal .telefono > h4{
		font-size: .9em;
	}
	
}

@media (min-width: 1200px) {
    
	#bloques .bloque .bottom .celeste{
		left: 219px;
	}
    
}



/** NO Padding/Margin **/

.no-padding{padding:0;}
.no-left-padding{padding-left:0;}
.no-right-padding{padding-right:0;}
.no-top-padding{padding-top:0;}
.no-bottom-padding{padding-bottom:0;}
.no-margin{margin:0;}
.no-left-margin{margin-left:0;}
.no-right-margin{margin-right:0;}
.no-top-margin{padding-top:0;}
.no-bottom-margin{margin-bottom:0;}

/** Margenes **/
.mt5{margin-top:5px !important;}				.mt10{margin-top:10px !important;} 			.mt15{margin-top:15px !important;}
.mt20{margin-top:20px !important;}			.mt30{margin-top:30px !important;} 			.mt40{margin-top:40px !important;}
.mt50{margin-top:50px !important;} 			.mt60{margin-top:60px !important;}
.mb5{margin-bottom:5px !important;} 		.mb10{margin-bottom:10px !important;} 	.mb15{margin-bottom:15px !important;}
.mb20{margin-bottom:20px !important;} 	.mb30{margin-bottom:30px !important;} 	.mb40{margin-bottom:40px !important;}
.mb50{margin-bottom:50px !important;} 	.mb60{margin-bottom:60px !important;}


/** Wordpress Core **/
.alignnone{margin: 5px 20px 20px 0;}
.aligncenter, div.aligncenter{display: block; margin: 5px auto 5px auto;}
.alignright{float:right; margin: 5px 0 20px 20px;}
.alignleft{float: left; margin: 5px 20px 20px 0;}
.aligncenter{display: block; margin: 5px auto 5px auto;}
a img.alignright{float: right; margin: 5px 0 20px 20px;}
a img.alignnone{margin: 5px 20px 20px 0;}
a img.alignleft {float: left; margin: 5px 20px 20px 0;}
a img.aligncenter {display: block; margin-left: auto;  margin-right: auto}
.wp-caption {background: #fff; border: 1px solid #f0f0f0; max-width: 96%; padding: 5px 3px 10px; text-align: center;}
.wp-caption.alignnone {margin: 5px 20px 20px 0;}
.wp-caption.alignleft {margin: 5px 20px 20px 0;}
.wp-caption.alignright {margin: 5px 0 20px 20px;}
.wp-caption img {border: 0 none; height: auto; margin: 0; max-width: 98.5%; padding: 0; width: auto;}
.wp-caption p.wp-caption-text {font-size: 11px; line-height: 17px; margin: 0; padding: 0 4px 5px;}