@charset "UTF-8";
/* CSS Document */

.wpl-base input{
	background-color:#FAFAFA;
    border: 1px solid #E9E9E9;
    color: #444444;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
}

.wpl-base select{
	background-color: #FAFAFA;
    border: 1px solid #E9E9E9;
    color: #444444;
    height: 32px;
    padding: 6px 0;
}


.wpl-base button{
	border: 0;
	background-color: #DEDEDE;
	color: #005cb9;
	padding: 8px 5px;
	cursor: pointer;
}
.wpl-base button:hover{
	background-color: #005cb9;
	color: #fff;
}

.wpl-base button.primary{
	background-color: #005cb9;
	color: #fff;
}
.wpl-base button.primary:hover{
	background-color: #40b4e5;
}


table.wpl-base{
	float: left;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}
table.wpl-base thead th{
	background-color: #C0C0C0;
    padding: 10px 6px;
    text-align: left;
    vertical-align: middle;
}
table.wpl-base tbody td{
    border-bottom: 1px solid #EEEEEE;
    padding: 10px 6px;
    text-align: left;
    vertical-align: middle;
}


.wpl-base-pagination{
	float: left;
    width: 100%
}
.wpl-base-pagination ul{
	float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}
.wpl-base-pagination li{
	list-style: none;
	display: block;
	float: left;
	margin-left: 10px;
}
.wpl-base-pagination li:first-child{
	margin-left: 0;
}
.wpl-base-pagination li a{
	border: 1px solid #C0C0C0;
    display: block;
    padding: 5px 9px;
    text-decoration: none;
}
.wpl-base-pagination li a.disabled,
.wpl-base-pagination li a.disabled:hover {
    background-color: #C0C0C0;
    border: 1px solid #C0C0C0;
    color: #666666 !important;
    cursor: default;
}
.wpl-base-pagination li a.current{
	cursor: default;	
}
.wpl-base-pagination li a.current,
.wpl-base-pagination li a:hover{
	background-color: #005cb9;
    border: 1px solid #005cb9;
    color: #FFFFFF !important;
}

.wpl-base-alert{
	color: #FF6600;
    float: left;
    font-size: 15px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
    width: 100%;
}

.wpl-base-preload{
	color: #005cb9;
    float: left;
    margin-top: 20px;
    text-align: center;
    width: 100%;
}