/*
<div>
  <div class="gear"></div>
  <div class="gear"></div>
  <div class="gear"></div>
</div>
*/
/*
body {
    background: #000;
}
*/
.gear{
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 30px;
    left: 30px;
    background: url(http://i.imgur.com/lOBxb.png);
    -webkit-animation: barrelRoll 2s infinite linear;
    -webkit-animation-play-state: paused;
}
.gear:first-of-type {
    top: 22px;
    left: 156px;
    -webkit-animation-name: invertBarrelRoll;
}

.gear:last-of-type {
    top: 22px;
    left: 56px;
    -webkit-animation-name: invertBarrelRoll;
}

div:hover > .gear {
    -webkit-animation-play-state: running;
}

@-webkit-keyframes barrelRoll {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@-webkit-keyframes invertBarrelRoll {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(-360deg); }
}